<h1>DanceMaker</h1>
<ul>
  <% @phrases.each do |phrase| %>
    <h3><%=phrase.name%></h3>
    <% phrase.measures.each do |measure| %>
        <div class="measure">
          <% measure.beats.each do |beat| %>
            <% beat.movements.each_with_index do |movement, index| %>
              <li><%="#{beat.label(index+1, measure.number)}: #{movement}"%></li>
            <% end %>
          <% end %>
        </div>
    <% end %>
  <% end %>
</ul>
