<h1>DanceMaker</h1>
<ul>
  <% @phrases.each do |phrase| %>
    <h3><%=phrase.name%></h3>
    <% phrase.measures.each_with_index do |measure, index| %>
      <div><%="#{index + 1}:"%></div>
      <ul>
        <% measure.each_with_index do |beat, index | %>
          <li><%="#{index + 1}: #{beat}"%></li>
        <% end %>
      </ul>
    <% end %>
  <% end %>
</ul>
